@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import "https://fonts.googleapis.com/css?family=Quicksand";
* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: #475569;
}

/* NAVIGATION */

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    z-index: 1000;

}

.hamburger {
    display: none;
    margin: 10px;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #55AD37;
}

.nav-item {
    margin-left: 5rem;
}
.nav-logo {
  width: 65px;
}
.nav-link{
    font-size: 2rem;
    color: #475569;
}

.nav-link:hover{
    color: #5cb71d;
}


    .nav-menu {
        position: fixed;
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        border-radius: 5px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);


    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
/* Navigation dropdown */
#dropdown {
  display: none;
  font-size: 1.6rem;
  color: #475569;
}

#dropdown li{
  padding: 10px 0px;
}

#dropdown.active {
  display: block;
}

#dropdown1 {
  display: none;
  font-size: 1.6rem;
  color: #475569;
}

#dropdown1 li{
  padding: 10px 0px;
}

#dropdown1.active {
  display: block;
}


.nav-menu li:hover {
  color: #5cb71d;
  cursor: pointer;
}
/* HERO */

#hero {
  width: 100%;
  height: 100vh;

}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.infohero {
align-items: center;
text-align: center;

}
.arrow {
position: absolute;
bottom: 2%;

}
.fa-arrow-circle-down {
  font-size: 40px;
  color: #5cb71d;
  text-align: center;
}

/*breadcrumbs*/
.vertikal {
  font-size: 14px;
  letter-spacing: 0.025rem;
  color: #fff;
  position: absolute;
  bottom: 2rem;
  left: 2.5rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  color: #2b2b2b;
  position: fixed;
}
.vertikal a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  display: inline-block;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}
.vertikal a:hover {
  color: #5cb71d;
}
.vertikal a:hover:after {
  color: rgba(255,255,255,0.5);
}
.vertikal a:after {
  content: '/';
  padding: 0 0.5rem;
  display: inline-block;
}
.vertikal span.destinationen {
  color: #5cb71d;
}

/* INTROTEKST */

.introtekst h1 {
  top: 50%;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: #2b2b2b;
}

.introtekst h2 {
  font-size: 2.1875rem;
  text-align: center;
  color: #2b2b2b;
  font-family: "quicksand";
  line-height: 40px;
}
/* Betjeningsside*/

.ikonfelt {
  display: grid;
  grid-template-columns: 20vw 20vw;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
.ikoncontainer {
  display: grid;
  grid-template-columns: 20vw 20vw;
  grid-template-rows: auto;
}
.tekst h5 {
  font-size: 1.6rem;
  text-align: center;
  color: #2b2b2b;
  font-family: "quicksand";
  line-height: 40px;
  padding-bottom: 20%;
}
.tekst img {
   display: block;
   max-width: 100%;
   padding: 0% 20% 4px 20%;
}

/* Tekst sektion med forklaring*/
/* med grå baggrund*/
.tekstfelt1 h1 {
  top: 50%;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #2b2b2b;
}
 .tekstfelt1{
background-color: #F2F5F4;
 }


/* med hvid baggrund */
 .tekstfelt2 h1 {
   top: 50%;
   font-size: 2.5rem;
   text-align: center;
   text-transform: uppercase;
   color: #2b2b2b;
 }

.tekst h2 {
  font-size: 1.5rem;
  text-align: left;
  color: #2b2b2b;
  font-family: "quicksand";
  line-height: 40px;
}

.introtekst {
  z-index: 1;
}
.titelcontainer {
  width: 50%;
  margin: 10vh auto;
  display: flex;
justify-content: center;
text-align: center;
}


.tekstfelt {
  display: grid;
  grid-template-columns: 50vw;
  justify-content: center;
  align-items: left;
  min-height: 60vh;
}
.tekstfelt2 {
  display: grid;
  grid-template-columns: 45vw;
  justify-content: center;
  align-items: left;
  min-height: 50vh;
}
.tekstfeltbund {
  display: grid;
  grid-template-columns: 50vw;
  justify-content: center;
  align-items: left;
  min-height: 30vh;
}

.tekstcontainer {
  display: grid;
  grid-template-columns: 10vw 40vw;
  grid-template-rows: auto;
}



.tekst, h4{
  font-size: 25px;
  color: #5cb71d;
  text-align: center;
}
/* Betjeningsside*/

.ikonfelt {
  display: grid;
  grid-template-columns: 20vw 20vw;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
.ikoncontainer {
  display: grid;
  grid-template-columns: 20vw 20vw;
  grid-template-rows: auto;
}
.ikoncontainer112 {
  display: grid;
  grid-template-columns: 30vw 40vw;
  grid-template-rows: auto;
}
.ikonfelt112 {
  display: grid;
  grid-template-columns: 30vw 40vw;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
.tekst h5 {
  font-size: 1.6rem;
  text-align: center;
  color: #2b2b2b;
  font-family: "quicksand";
  line-height: 40px;
  padding-bottom: 20%;
}
.tekst img {
   display: block;
   max-width: 100%;
   padding: 0% 20% 4px 20%;
}
.tekst112 img {
   display: block;
   width: 80%;
   margin-left: auto;
   margin-right: 0;
}
/*ikonet og rektangel toppen */
.ikontop {
  width: 50%;
  margin: 0 auto;
  display: flex;
justify-content: center;
text-align: center;
font-size: 100px;
color: #5cb71d;
}


#boks {
  border-radius: 25px;
  border: 7px solid #73AD21;
  padding-top: 30px;
  width: 200px;
  height: 200px;
  margin-top: 40px;
}
/* TERMOMETER */
.cls-2{
  transition: all .3s ease-in-out;
     transition: transform 0.3s ease;

  transform-origin: center center;
 transform-box: fill-box;
}

.cls-2:hover{
  transform:scale(1.2);
}

#stege{
  cursor:default;
transition: all .3s ease-in-out;
   transition: transform 0.3s ease;
   transform-origin: center left;
   transform-box: fill-box;
}

#stege:hover{
  transform: scale(1.5);
}

.cls-55{
  font-size: 12.85px;
}

#tekst{
  cursor:default;
  transition: all .3s ease-in-out;
     transition: transform 0.3s ease;
transform-origin: center right;
  transform-box: fill-box;
}
#tekst:hover{
  transform: scale(1.5);
}

#tekst1{
  cursor:default;
  transition: all .3s ease-in-out;
     transition: transform 0.3s ease;
transform-origin: center center;
  transform-box: fill-box;
}
#tekst1:hover{
  transform: scale(1.5);
}

#tekst2{
  cursor:default;
  transition: all .3s ease-in-out;
     transition: transform 0.3s ease;
transform-origin: center center;
  transform-box: fill-box;
}
#tekst2:hover{
  transform: scale(1.1);
}

.termoscreen{
  display: flex;
align-items: center;
justify-content: center;
height: 100%;
}
.termoscreen{
background-color: #F2F5F4;
width: 100%;
}

.centersection1{
width: 100%;
height: 15vh;
}
svg{
overflow:visible;
}

#termosection{
  width: 100%;
  height: 70vh;
}


/* FONTS */

.hero h1 {
  top: 50%;
font-size: 4rem;
text-align: center;
text-transform: uppercase;
color: #2b2b2b;

  }

.hero h2{
  font-size: 2.1875rem;
  text-align: center;
  color: #5cb71d;
  text-transform: uppercase;
  font-family: 'quicksand';
  }

  /* GUIDE SECTION */
#guide {
  width: 100%;
  height: 100vh;

}
.info1 {
  background-color: #F2F5F4;
  width: 100%;
  padding: 3rem;

}
#guide h1{
  text-align: center;
font-size: 3.4rem;
text-transform: uppercase;
color: #2b2b2b;
}
#guide h2{
  font-size: 2rem;
text-align: center;
  font-family: 'roboto condensed';
  font-weight: normal;
  color: #2b2b2b;
}

span {
  color: 	#778899;
}

.baggrund{
  background-color: #F2F5F4;
  height: 30%;
  width: 100%;
  display: flex;
  z-index: 0;
}
/* BUTTON */
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  font-family: 'roboto condensed';
  cursor: pointer;
  transition: 650ms;
}

button:hover {
  background-color: #4C8B1E;
}




  /* FOOTER  */
#footer {
  display: flex;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  min-height: 200px;
}
.footercontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #5cb71b;
  width: 100%;
  gap: 17vh;
  font-size: 1.5rem;
}

.footercontainer > div {
  color: #fff;
  font-family: Quicksand;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
}

.undertitel {
  font-family: "Roboto Condensed bold", sans-serif;
  color: #2b2b2b;
}

.norqititel {
  font-family: "Roboto Condensed bold", sans-serif;
}

.kontaktinfo {
  align-items: center;
}

.links {
  align-items: center;
}

.logoer {
  justify-items: right;
  text-align: right;
}

.ikoner {
  font-size: 50px;
}

/* Frem tilbage kontroller  */

#kontroller {
  min-height: 20vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

#kontroller > div {
  gap: 10px;
  font-size: 4rem;
  color: #404040;
}
.fremtilbage {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.kontrollerh1 {
  font-size: 2rem;
  color: #404040;
}
.kontrollerh12 {
font-size: 3rem;
color: #5cb71b;
}

/*Dette er parallax*/
.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*parallax slut*/

/*reveal css*/
.reveal{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

.varmeundermenu {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.vandundermenu {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.tidundermenu {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.menucontent {
  display: none;
}
.menucontent1 {
  display: none;
}
.menucontent2 {
  display: none;
}
.menucontent3 {
  display: none;
}
.test {
  display: none;
}

.menulinks1 {
  width: 90%;
  height: auto;
  margin: auto;
  display: block;
  height: auto;
  max-width: 70%;
  max-height: 80%;
}

.menucontent1 {
  width: 90%;
  height: auto;
  margin: auto;
  height: auto;
  max-width: 70%;
  max-height: 80%;
}
.menulinks2 {
  width: 90%;
  height: auto;
  margin: auto;
  display: block;
  height: auto;
  max-width: 70%;
  max-height: 80%;
}

.menucontent2 {
  width: 90%;
  height: auto;
  margin: auto;
  height: auto;
  max-width: 70%;
  max-height: 80%;
}
.menulinks3 {
  width: 90%;
  height: auto;
  margin: auto;
  display: block;
  height: auto;
  max-width: 70%;
  max-height: 80%;
}

.menucontent3 {
  width: 90%;
  height: auto;
  margin: auto;
  height: auto;
  max-width: 70%;
  max-height: 80%;
}
/* ovenover er kode til script  */

#menukipgryde {
  display: grid;
  grid-template-columns: 80vw;
  justify-content: center;
  min-height: 100vh;
  background-color: #f2f5f4;
}

.infotitel {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  color: #2b2b2b;
}

.liste {
  font-family: "quicksand";
  list-style-type: decimal;
  font-weight: bold;
  line-height: 40px;
  color: #2b2b2b;
}

.liste > li {
  list-style-type: decimal;
}

.liste li::marker {
  background-color: #5cb71b;
  color: #5cb71b;
}

.menulayout {
  display: grid;
  grid-template-columns: 40vw 40vw;
  justify-content: center;
  grid-gap: 2rem;
}

.menuintro {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 25vw;
}

#menuintro {
  width: 100%;
  height: 100vh;
}

.menucontainer {
  width: 100%;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.menuinfo {
  align-items: center;
}
.arrow {
  position: absolute;
  bottom: 2%;
}

#menuintro h1 {
  top: 50%;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: #2b2b2b;
}

#menuintro h2 {
  font-size: 2.1875rem;
  text-align: center;
  color: #2b2b2b;
  font-family: "quicksand";
  line-height: 40px;
}

/* dette er align center kode til diverse divs */

.info {
  align-self: center;
  margin-top: 30px;
  margin-left: 25%;
}

.vandinfo {
  align-self: center;
  margin-top: 30px;
  margin-left: 25%;
}

.tidinfo {
  align-self: center;
  margin-top: 30px;
  margin-left: 25%;
}

/* ovenover er align center divs  */

#menukipgryde > div {
  font-size: 2rem;
  justify-content: center;
  font-family: "quicksand";
}
.image1 {
  width: 90%;
  height: auto;
  margin: auto;
  display: block;
  height: auto;
  max-width: 70%;
  max-height: 80%;
}

.image2 {
  width: 90%;
  height: auto;
  margin: auto;
  display: block;
  height: auto;
  max-width: 70%;
  max-height: 80%;
}

.menu1 {
  align-items: center;
}

/*scroll header reveal*/


/*media queries*/

@media (max-width: 600px) {
  #kontroller { min-height: auto; }
}

@media only screen and (min-width: 600px) {
  .nav-menu {
    width: 30%;
    }
  }

@media screen and (max-width: 800px) {
  .footercontainer {
    gap: 7vh;
    }

    .scrolling-active {
      background-color: #fff;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      }
    }
}
@media screen and (max-width: 610px) {
  .footercontainer {
    gap: 0;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    }
  }

@media screen and (max-width: 610px) {
  .logoer {
    gap: 0;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    }
  }

@media (max-width: 1000px) {
  .image {
    max-width: 100%;
    }
  }

@media (max-width: 800px) {
  .menulayout {
    grid-gap: 0;
    }
    .tekstcontainer {
      display: grid;
      grid-template-columns: 50vw;
      grid-template-rows: auto;
    }
    .ikoncontainer {
      display: grid;
      grid-template-columns: 50vw;
      grid-template-rows: auto;
    }
    .vertikal{
      display: none
    }
    .tekst h2{
      text-align: center;
    }
    .ikoncontainer {
      display: grid;
      grid-template-columns: 40vw;
      grid-template-rows: auto;
    }
    .ikoncontainer112 {
      display: grid;
      grid-template-columns: 70vw;
      grid-template-rows: auto;
    }
    
  }
@media (max-width: 600px) {
  .menulayout {
    grid-template-columns: repeat(1, 90vw);
    }
  }

@media (max-width: 600px) {
  .info {
    margin-left: 15vw;
    justify-content: center;
    }
  }
