@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import "https://fonts.googleapis.com/css?family=Quicksand";
* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* NAVIGATION */

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    z-index: 1000;

}

.hamburger {
    display: none;
    margin: 10px;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #55AD37;
}

.nav-item {
    margin-left: 5rem;
}
.nav-logo {
  width: 65px;
}
.nav-link{
    font-size: 2rem;
    color: #475569;
}

.nav-link:hover{
    color: #5cb71d;
}


    .nav-menu {
        position: fixed;
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        border-radius: 5px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);


    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
/* Navigation dropdown */
#dropdown {
  display: none;
  font-size: 1.6rem;
  color: #475569;
}

#dropdown li{
  padding: 10px 0px;
}

#dropdown.active {
  display: block;
}

#dropdown1 {
  display: none;
  font-size: 1.6rem;
  color: #475569;
}

#dropdown1 li{
  padding: 10px 0px;
}

#dropdown1.active {
  display: block;
}


.nav-menu li:hover {
  color: #5cb71d;
  cursor: pointer;
}
/* HERO */

#hero {
  width: 100%;
  height: 100vh;

}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.info {
align-items: center;

}
.arrow {
position: absolute;
bottom: 2%;

}
.fa-arrow-circle-down {
  font-size: 40px;
  color: #5cb71d;
  text-align: center;
}



/* FONTS */

#hero h1 {
  top: 50%;
font-size: 4rem;
text-align: center;
text-transform: uppercase;
color: #2b2b2b;

  }

#hero h2{
  font-size: 2.1875rem;
  text-align: center;
  color: #5cb71d;
  text-transform: uppercase;
  font-family: 'quicksand';
  }

  /* GUIDE SECTION */
#guide {
  width: 100%;
  height: 100vh;

}
.info1 {
  background-color: #F2F5F4;
  width: 100%;
  padding: 3rem;

}
#guide h1{
  text-align: center;
font-size: 3.4rem;
text-transform: uppercase;
color: #2b2b2b;
}
#guide h2{
  font-size: 2rem;
text-align: center;
  font-family: 'roboto condensed';
  font-weight: normal;
  color: #2b2b2b;
}

span {
  color: 	#778899;
}

.baggrund{
  background-color: #F2F5F4;
  height: 30%;
  width: 100%;
  display: flex;
  z-index: 0;
}
/* BUTTON */
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  font-family: 'roboto condensed';
  cursor: pointer;
  transition: 650ms;
}

button:hover {
  background-color: #4C8B1E;
}





  /* FOOTER  */
#footer {
  display: flex;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  min-height: 200px;
}
.footercontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #5cb71b;
  width: 100%;
  gap: 17vh;
  font-size: 1.5rem;
}

.footercontainer > div {
  color: #fff;
  font-family: Quicksand;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
}

.undertitel {
  font-family: "Roboto Condensed bold", sans-serif;
  color: #2b2b2b;
}

.norqititel {
  font-family: "Roboto Condensed bold", sans-serif;
}

.kontaktinfo {
  align-items: center;
}

.links {
  align-items: center;
}

.logoer {
  justify-items: right;
  text-align: right;
}

.ikoner {
  font-size: 50px;
}

/* Frem tilbage kontroller  */

#kontroller {
  min-height: 20vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

#kontroller > div {
  gap: 10px;
  font-size: 4rem;
  color: #404040;
}
.fremtilbage {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.kontrollerh1 {
  font-size: 2rem;
  color: #404040;
}
.kontrollerh12 {
font-size: 3rem;
color: #5cb71b;
}

@media (max-width: 600px) {
  #kontroller { min-height: auto; }
}

    @media only screen and (min-width: 600px) {
      .nav-menu {
          width: 30%;

      }
    }

  @media screen and (max-width: 800px) {
    .footercontainer {
      gap: 7vh;
      }
      @media screen and (max-width: 610px) {
        .footercontainer {
          gap: 0;
        flex-direction: column;
        justify-items: center;
        text-align: center;
    
    }
    
    @media screen and (max-width: 610px) {
          .logoer {
            gap: 0;
          flex-direction: column;
          justify-items: center;
          text-align: center;
              }
    
    .scrolling-active {
      background-color: #fff;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      }
    }
